<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<div id="landingAside">
    <div id="rightContainer">
        <div id="user_content">
            <span id="user_text"><%- lang('landing.usernamePlaceholder') %></span>
            <div id="avatarContainer">
                <button id="avatarOverlay"><%- lang('landing.usernameEditButton') %></button>
            </div>
        </div>
        <div id="mediaContent">
            <div id="internalMedia">
                <div class="mediaContainer" id="settingsMediaContainer">
                    <button class="minecraft-button" id="settingsMediaButton">
                        <i class="fas fa-cog"></i>
                        <div class="minecraftTooltip"><%- lang('landing.settingsTooltip') %></div>
                    </button>
                </div>
                <div class="mediaContainer">
                    <a href="<%- lang('landing.mediaDiscordURL') %>" class="minecraft-button" id="discordURL">
                        <i class="fab fa-discord"></i>
                        <div class="minecraftTooltip">Discord</div>
                    </a>
                </div>
                <div class="mediaContainer">
                    <a href="<%- lang('landing.mediaWebsiteURL') %>" class="minecraft-button" id="websiteURL">
                        <i class="fas fa-globe"></i>
                        <div class="minecraftTooltip">Website</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
