<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"/>
    <title><%= lang('app.title') %></title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/core/base.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/java.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/tabs.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/update.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/layout.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/components.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/account.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/minecraft.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/about/buttons.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/about/changelog-elements.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/about/changelog.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/about/container.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/about/header.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/about/version.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/mods/dropin.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/mods/general.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/mods/required-optional.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/mods/select.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/settings/mods/shaderpack.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/components/banners.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/components/buttons.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/components/frame.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/components/loading.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/components/media.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/components/overlay.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/views/landing/bottom.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/views/landing/news.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/views/landing/structure.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/views/landing/top.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/views/login.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/views/waiting.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/views/welcome.css">
    <style>
        body {
            background: url('assets/images/backgrounds/<%=backgroundPath%>') no-repeat center center fixed;
            transition: background-image 1s ease;
            background-size: cover;
            -webkit-user-select: none;
            overflow: hidden;
        }
        #main {
            display: none;
            height: calc(100% - 22px);
            background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
            width: 100%;
            position: absolute;
            z-index: 10;
        }
        #main[overlay] {
            filter: blur(3px) contrast(0.9) brightness(1.0);
        }
    </style>
    <style title="ThemeOverrides"></style>
</head>
<body>
    <%- include('frame') %>
    <div id="main">
        <%- include('welcome') %>
        <%- include('login') %>
        <%- include('waiting') %>
        <%- include('loginOptions') %>
        <%- include('settings') %>
        <%- include('landing') %>
    </div>
    <%- include('overlay') %>
    <div id="loadingContainer">
        <div id="loadingContent">
            <div id="loadSpinnerContainer">
                <!-- <img id="loadCenterImage" src="assets/images/LoadingSeal.png"> -->
                <img id="loadSpinnerImage" class="rotating" src="assets/images/VoidLogo.png">
            </div>
        </div>
    </div>
</body>
</html>
